.navbar
  display: flex
  align-items: center
  height: 50px
  border-bottom: 1px solid $main
  padding: 50px 60px
  position: fixed
  width: 100%
  &__menu
    display: flex
    padding-left: 0
    list-style: none
    flex: 1
    li
      margin-left: 50px
      a
        color: $text
        text-decoration: none
        font-weight: 400
        letter-spacing: 1px
  &__logo
    a
      color: $text
      text-decoration: none
      font-weight: 500

  &__icons
    &--icon svg
      color: $text
