.logo-container_kd
  .logo
    &-text
      margin-left: 2px

@media screen and (max-width: 525px)
  .logo-container_kd--gallery
    .logo
      height: 20px
      &-text
        width: 100px

@media screen and (max-width: 480px)
  .logo-container_kd--footer
    .logo
      height: 22px
      &-text
        width: 110px
